@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-family: 'Roboto', sans-serif; /* Use Roboto font with fallback to sans-serif */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

 
}

.App-link {
  color: #61dafb;
}

.App-button {
  margin-left: 10px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  height: 40px;
  box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.5);
  font-size: 18px;
}


.App-button:disabled {
  background: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header,
.selection,
.course-results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 350px;
}

.selection {
  height: 10%;
}

.course-results {
  height: 80%;
  margin-top: 50px;
}

.spacer {
  height: 200px;
}
